.footer {
  display: flex;
  justify-content: center;
  background-color: #F9FAFB;
  width: calc(100% + 64px);
  margin: 0 0 -2rem -2rem;
}

.footer__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1084px;
  margin: 2.5rem 0;
}

.footer__section {
  margin-right: 3.75rem;
}

.footer__links {
  display: flex;
}

.footer__title {
  font-size: 1rem;
  color: #37474F;
  margin: 0;
}

.footer__items {
  list-style: none;
  padding: 0;
  margin: 0.75rem 0;
}

.footer__items li a {
  text-decoration: none;
  color: #546E7A;
  font-weight: 600;
  font-size: 1rem;
}

.footer__copyright {
  color: #78909C;
  font-weight: 300;
  font-size: 0.75rem;
  width: 100%;
}

.footer__made {
  font-size: 0.75rem;
  font-weight: 300;
  color: #78909C;
  padding: 1.75rem;
  text-align: center;
  margin: 0;
}

@media screen and (max-width: 920px) {
  .footer__container {
    max-width: 80%;
  }  
}