.home__features {
  display: flex;
  justify-content: center;
  padding: 3.75rem 0 8rem 0;
}

.home__features .card + .card {
  margin: 0 1.25rem;
}

.home__features .card:last-child {
  margin: 0;
}

@media screen and (max-width: 630px) {
  .home__features {
    flex-direction: column;
    align-items: center;
  }  

  .home__features .card + .card {
    margin: 1.25rem 0;
  }
  
  .home__features .card:last-child {
    margin: 0;
  }
}
