# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/lib

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.DS_Store

*.js
*.jsx
*.d.ts
*.map
!definitions.d.ts

!mui.d.ts
!.prettierrc.js

ThemeProvider/theme.css