.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F9FAFB;
  color: #37474F;
  min-height: 400px;
  text-align: center;
  width: calc(100% + 64px);
  margin: -2rem 0 0 -2rem;
}

.header__title {
  margin: 0;
  font-size: 2.5rem;
  font-weight: 700;
}

.header__subtitle {
  color: #78909C;
  font-size: 0.75rem;
}

.header__description {
  color: #78909C;
  font-size: 1rem;
  max-width: 480px;
  margin-top: 2.5rem;
}

