@import 'antd/dist/antd.less';

// overrides theme

// Font
@font-size-base: 15px;

// colors
@primary-color: var(--ant-primary-color, #0d2772);

// support colors
@info-color: #1890ff;

// Height general
@height-base: 42px;
@height-lg: 42px;
@height-sm: 32px;

// Radius
@border-radius-base: 4px;
@border-radius-sm: 4px;

// Vertical paddings
@padding-lg: 24px; // containers
@padding-md: 24px; // small containers and buttons
@padding-sm: 16px; // Form controls and items

// Buttons
@btn-font-weight: 500;

// Line Height
@line-height-base: 1.35;

// Typography
@typography-title-margin-bottom: 0rem;

// Spin
@spin-dot-size: 28px;

// Select
@select-item-selected-bg: #ddd;

.ant-form-item {
  margin-bottom: 15px;
}

.ant-col-24.ant-form-item-label > label {
  height: auto;
}