import React, { memo } from 'react';

import styled, { css, StyledProp } from '@eduzz/houston-styles';
import Button from '@eduzz/houston-ui/Button';

const ComponentsDev = memo<StyledProp>(({ className }) => {
  return (
    <div className={className}>
      <Button>Button</Button>
    </div>
  );
});

export default styled(ComponentsDev)(
  ({ theme }) => css`
    padding: ${theme.spacing.xxxs};
  `
);
