import React, { memo } from 'react';

import { css } from '@emotion/react';
import styled from '@emotion/styled';
import { Button } from 'antd';

const ComponentsDev = memo<{ className?: string }>(({ className }) => {
  return (
    <div className={className}>
      <Button type='primary'>Button</Button>
    </div>
  );
});

export default styled(ComponentsDev)(
  ({ theme }) => css`
    padding: ${theme.spacing.xxxs};
  `
);
