import React, { memo } from 'react';

import { Button } from 'antd';

import styled, { css } from '@eduzz/houston-ui/styled';

const ComponentsDev = memo<{ className?: string }>(({ className }) => {
  return (
    <div className={className}>
      <Button type='primary'>Button</Button>
    </div>
  );
});

export default styled(ComponentsDev)(
  ({ theme }) => css`
    padding: ${theme.spacing.xxxs};
  `
);
